/* Navbar */

*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
.menu-bar{
    background-color:whitesmoke;
}
.nav-link{
    font-size: 16px;
    margin: 3px;
    color: rgb(0, 0, 0)!important;
    font-weight: 500;
}
.navbar-nav{
    text-align: right;
    margin-right: 20px;
}
.menu-bar .navbar-toggler{
    padding-right: 20px;
    outline: none!important;
    border: none!important;
}
.navbar .fa{
    color: white!important;
    font-size: 26px;
}
.nav-link{
    font-weight: 600;
    border-bottom: 1px solid black;
}
.navbar-brand img{
    width: 150px;
    margin-top: 5px;
    margin-left: 20px;
}

/* Carrosel */

#carouselExampleControls{
    height: 40%;
    width: 70%;
    margin-top: 5px;
    margin-left: 15%;
}

/* Roda pé */

*{
    margin-top: 0px;
    padding: 0;
    box-sizing: border-box;
}

.footer{
    padding: 40px 0;
    background-color: rgb(77, 76, 76);
    margin-top: 100px;
}
.footer ul{
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}
.footer ul li a{
    color: whitesmoke;
    text-decoration: none;
    opacity: 0.8;
}
.footer ul li{
    display: inline-block;
    padding: 0 15px;
}