.nav-link{

color: #000;
    
}

#login{

margin-right: 10px;

}

#carouselExampleControls{

height: 50%;
width: 60%;
margin-left: 20%;
margin-top: 2%;

}

#rdp{

background-color: #000;
color: #ffff;
height: 3cm;
margin-top: 80px;
    
}

.p{

margin-left: 100px;
margin-top: -10px;
margin-block-end: 30px;

}

#p2{

margin-block-end: 20px;

}